body{
	font-family:Helvetica,sans-serif;
	font-size:100%;
	margin:0;
	padding:0;
}


/* nav */
body>nav{
	background:#ccc;
	overflow:auto;
}
body>nav a{
	text-decoration:none;
	display:inline-block;
	padding:.5rem 1rem;
	color:black;
}
body>nav a:hover {
	background:rgba(0,0,0,0.2);
}
body>nav a:active {
	background:rgba(0,0,0,0.1);
}
body>nav>aside{
	display:inline-block;
	float:right;
}
body>nav+nav{
	background:#bbb;
}
body>nav+nav a.active{
	background-color:#aaa;
}


/* main content */
main{
	padding:1rem;
	background:white;
}
header{
	background:#e8e8e8;
}


/* individual tags */
h1,h2,h3,h4,h5,h6{
	margin:0;
}
h1{
	background:#ddd;
	padding:1rem;
}


/* forms */
.field{
	margin:.5rem 0;
	padding:.5rem;
	flex:1;
}
.field input[type=text],
.field input[type=password],
.field input[type=date],
.field textarea{
	padding:.2rem;
	width:100%;
	font-size:120%;
	border:1px inset #ccc;
}
.field img{
	max-width:300px;
}
.field label{
	display:block;
}
.fields{
	display:flex;
}

.checkbox{
	display:inline-block;
	background-color:rgba(0,0,0,0.1);
	margin-right:4px;
	border-radius:4px;
}
.checkbox label{
	display:inline-block;
	padding:4px;
}


/* buttons */
.button,
input[type=submit]{
	display:inline-block;
	text-decoration:none;
	font-size:1.2rem;
	color:white;
	margin:.1rem;
	padding:.3rem 1rem;
	cursor:pointer;
	background:#444;
	border:1px solid #222;
}
.button:hover,
input[type=submit]:hover {
	opacity:0.8;
}
.button:active,
input[type=submit]:active {
	opacity:0.6;
}
.button.green,
input[type=submit].green {
	background:#4b4;
	border-color:#292;
}
.button.red,
input[type=submit].red{
	background:#b44;
	border-color:#922;
}
td .button,
td input[type=submit]{
	font-size:.8rem;
	margin:0;
	padding:.2rem 1rem;
}


/* rows */
.row{
	display:flex;
}
.row>*{
	flex:1;
}


/* tables */
table{
	border-collapse:collapse;
	width:100%;
}
thead{
	font-size:1.2rem;
	color:black;
	background:#aaa;
	text-align:left;
}
tbody tr{
	border-bottom:1px solid #aaa;
}
tbody tr:nth-child(odd) {
	background:#eee;
}
tbody tr:hover {
	background:#f8f8ff;
}
tbody tr:nth-child(odd):hover {
	background:#e8e8ee;
}
td:first-child,th:first-child {
	padding-left:.2rem;
}

.hidden{
	display:none;
}


.tabs nav{
	display:flex;
}
.tabs nav>a{
	flex:1;
	display:inline-block;
	background-color:rgba(0,0,0,0.2);
	padding:1rem;
	color:black;
	text-decoration:none;
	margin:2px;
	text-align:center;
}
.tabs nav>a.active,
.tabs nav>a:hover {
	background-color:rgba(0,0,0,0.3);
}



.feed{
	padding:0;
}
.feed>li{
	display:flex;
	border-bottom:1px solid #bbb;
}
.feed>li>a{
	color:black;
	text-decoration:none;
	display:block;
	padding:.4rem;
	flex:1;
}
.feed>li:nth-child(odd)>a {
	background-color:#eee;
}
.feed>li>a:hover {
	background-color:#ddd;
}
.feed>li:nth-child(odd)>a:hover {
	background-color:#ddd;
}
.feed>li>a.icon{
	cursor:pointer;
	min-width:1.2rem;
	flex:0;
	background-size:24px 24px;
	background-repeat:no-repeat;
	background-position:center;
}
.feed>li>a.icon.activate{background-image:url('/images/icons/activate.svg');}
.feed>li>a.icon.calendar{background-image:url('/images/icons/calendar.svg');}
.feed>li>a.icon.deactivate{background-image:url('/images/icons/deactivate.svg');}
.feed>li>a.icon.delete{background-image:url('/images/icons/delete.svg');}
.feed>li>a.icon.download{background-image:url('/images/icons/download.svg');}
.feed>li>a.icon.flag{background-image:url('/images/icons/flag.svg');}
.feed>li>a.icon.link{background-image:url('/images/icons/link.svg');}
.feed>li>a.icon.image{background-image:url('/images/icons/image.svg');}
.feed>li>a.icon.settings{background-image:url('/images/icons/settings.svg');}
.feed>li>a.icon.share{background-image:url('/images/icons/share.svg');}
.feed>li>a.icon.tag{background-image:url('/images/icons/tag.svg');}



.flash{
	position:fixed;
	top:3rem;
	right:1rem;
	z-index:100;
}
.flash p{
	border-radius:1rem;
	padding:1rem;
	cursor:pointer;
	background-color:#888;
	border:1px solid black;
}
.flash p.error{
	border:1px solid red;
	background-color:#f88;
}
.flash p.success{
	border:1px solid #0f0;
	background-color: #8f8;
}



.imagefield img{
	cursor:pointer;
	border:2px solid transparent;
}
.imagefield img:hover {
	border:2px dashed #888;
}
.imagefield img[src=''] {
	background-color:#ddd;
	border:2px dashed #bbb;
}

.modal{
	display:flex;
	flex-direction:column;
	position:fixed;
	background-color:white;
	min-width:40vw;
	max-width:80vw;
	max-height:80vh;
	z-index:100;
	margin:auto;
	/* center it */
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.modal-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100vw;
	height:100vh;
	background-color:rgba(0,0,0,0.7);
	z-index:99;
}

.modal>header,
.modal>footer{
	background-color:#ddd;
	padding:1rem;
}

.modal>.content{
	margin:1rem;
	overflow:auto;
}
